{
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/typescript"
  ],
  "rules": {
    "no-console": 0,
    "no-mixed-operators": 0,
    "@shopify/strict-component-boundaries": 0,
    "no-warning-comments": 0,
    "no-negated-condition": 0,
    "import/no-cycle": 0,
    "no-alert": 0,
    "id-length": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
